# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
LocalPreferences.toml
# /promptveil/core/compression/TokenCompression.jl/

# Rust
/target/
promptveil/core/compression/token-compression-rs/target/
promptveil/core/security/security-rs/target/
promptveil/core/promptveil-core/target/
promptveil/core/format/format-rs/target/
promptveil/core/index/index-rs/target/
**/*.rs.bk
Cargo.lock


# Build artifacts
*.dll
*.lib
*.exp
*.def
*.pyd
*.dylib

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Project specific
build/
*.pveil
*.bak
